In [15]:
import pandas as pd

In [1]:
import csv

In [10]:
f = open('data/2_cDAQ1Mod1_ai0.csv','r')
rdr = csv.reader(f)

In [ ]:
data = []
for line in rdr:
    data.extend(line)
    print(line[1])

In [5]:
len(data)

1843200

In [19]:
data = pd.read_csv('data/2_cDAQ1Mod1_ai0.csv', header=None)

In [20]:
data.head()

                          0         1
0  Mon Jul 18 19:18:44 2022 -0.000088
1  Mon Jul 18 19:18:44 2022 -0.000052
2  Mon Jul 18 19:18:44 2022 -0.000099
3  Mon Jul 18 19:18:44 2022 -0.000013
4  Mon Jul 18 19:18:44 2022  0.000006